# Association Rules

Association Rules Analysis is a technique to uncover how items are associated to each other and enables us to predict the items bought together frequently

- Once we know this, we can use it to our advantage in multiple ways.

There are three common ways to measure association.

1. Support
2. Confidence
3. Lif

### Import Libraries

In [8]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Import Data and Convert Data into List

- Put "header = None" as we dont have header and we want our python not to read first row as column name.

- Our algorithm "apriori" expects the down to work on should be a list in a list not data frame, which is nothing but each transaction should be a list as input.

Make a loop variable list called transaction

In [40]:
# Data Loading
dataset = pd.read_csv('Market_Basket_Optimisation.csv', header = None)

In [39]:
# Look into data shape
dataset.shape

(7501, 20)

In [44]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Adding all customers into a list of lists
transactions = dataset.iloc[:7501, :20].astype(str).values.tolist()

#### Parameters are supposed to given depending upon your data set and business problem

- Support and Confidence changes depending upon the problem and data set and it will not be same all time.
- min_lenght will be two that is for least to least of two products relation
- min_support = items bought more than 3 times a day * 7 days (week) / 7500 customers = 0.0028
- min_confidence: at least 20%, min_lift = minimum of 3 (less than that is too low)

In [18]:
# Training Apriori on the dataset
from apyori import apriori
rules = apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2)

In [19]:
# Visualising the results
results = list(rules)

In [ ]:
# Check Results
# Check first item in the results
# For chicken and light cream support is 0.0045, confidence is 0.23 and lift 4.84

In [38]:
print(results[0][:3])

(frozenset({'chicken', 'light cream'}), 0.004532728969470737, [OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)])